.hide-div{
    display: none;
}

.top-div{
    border-bottom: 1px solid #cccccc;
    font-family: fantasy;
    height: 39px;
    background-color: darkgray;
}

.loginout-div{
    margin-right: 8px;
    cursor: pointer;
    float: right;
    width: 27px;
    margin-top: 6px;
}

.loginname-div{
    margin-right: 10px;
    color: royalblue;
    float: right;
    font-size: large;
    margin-top: 9px;
    cursor: pointer;
}

.login-modal-div{
    background-color: crimson;
    font-family: initial;
    font-size: 10px;
    text-align: center;
    width: 150px;
    float: right;
    margin-right: 43px;
}

.login-modal-a{
    color: #000;
    cursor: pointer;
}

.login-modal-table{
    /*border-bottom:1px solid #808080;*/
    margin:auto;
}

tr{
    border-bottom: 1px solid #808080;
}

.align-center-div{
    text-align: center;
    margin-top: 170px;
}

.center-div{
    margin: 0 auto;

}
.success-body-div{
    text-align: center;
    width:100%;
    height: 80%;
    /*background-color: #0e90d2;*/
}
/*.success-left-div{*/
    /*margin-top: 5%;*/
    /*margin-right: 10%;*/
    /*width:20%;*/
    /*height: 50%;*/
    /*float: right;*/
    /*!*background-color: rebeccapurple;*!*/
    /*text-align: center;*/
/*}*/
.success-div-div{
    margin-top: 4%;
    margin-right: 10%;
    width:20%;
    height: 50%;
    float: right;
    /*background-color: #559946;*/
    text-align: center;
}
/*.success-right-div{*/
    /*margin-top: 5%;*/
    /*margin-right: 10%;*/
    /*width:20%;*/
    /*height: 50%;*/
    /*float: right;*/
    /*!*background-color: #991e14;*!*/
    /*text-align: center;*/
/*}*/
.success-div-table{
    margin: auto;
    /*border: 1px solid #808080;*/
}

.ck-img{
    width: 25%;
    cursor: pointer;
}

.success-table-tr{

    border-bottom: 1px dashed #cccccc;
}

.success-div-span{
    margin-left: 46%;
    cursor: pointer;
    font-size: small;
}

.span-table-hr{
    background-color: #ffffff;
}

.br-div{
    margin-top: 10%;
}

.gengduo-span{
    cursor: pointer;
    font-size: smaller;
    color: orangered;
    float: right;
    font-family: cursive;
}