<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="width:100%;height: 100%">
<head>
    <meta charset="UTF-8"/>

    <!-- jqGrid组件基础样式包-必要 -->
    <link rel="stylesheet" href="/css/ui.jqgrid.css" />

    <!-- jqGrid主题包-非必要 -->
    <!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
    <link rel="stylesheet" href="/css/redmond/jquery-ui-1.8.16.custom.css" />



    <title>觅语-文章</title>
</head>
<body style="text-align:center;width:100%;height: 100%">
    <div th:include="top :: html"></div>

    <div>
        <input type="hidden" id="bookid" th:value="${bookid}"/>
        <input type="hidden" id="bookname" th:value="${bookname}"/>
    </div>
    <!--<div>
        <table id="articleTable"></table>
        <div id="articleTablePage"></div>
    </div>-->
    <div class="book">
        <br/>
        <br/>
        <div class="title-div">
            <span style="font-size: 30px;color: #303030;font-family: serif;" th:text="${bookname}"></span>
            <span style="font-size: 13px;color: #303030;margin-left: 20px">作者：<span style="font-weight: 600" th:text="${authorname}"></span></span>

        </div>
        <br/>
        <br/>
        <br/>
        <span style="font-weight: 600;position: absolute;top: 147px;left: 478px;font-size: 15px;">正文</span>
        <br/>
        <div class="shadow_div" ></div>
        <br/>
        <div class="book-div">
            <table class="book-div-table">



            </table>
        </div>

    </div>

</body>

<!-- jquery插件包-必要 -->
<!-- 这个是所有jquery插件的基础，首先第一个引入 -->
<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>

<!-- jqGrid插件包-必要 -->
<script type="text/javascript" src="/js/jquery.jqGrid.src.js"></script>

<!-- jqGrid插件的多语言包-非必要 -->
<!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->
<script type="text/javascript" src="/js/grid.locale-cn.js"></script>

<script>
    $(function(){
        //页面加载完成之后执行
       // pageInit();
        initArticle();
    });

    function initArticle() {
        var bookid = $("#bookid").val();
        $.post("/login/article/queryArticleList",{bookid : bookid},function (result) {
            if(result!=null){
                var articles =eval(result);
                for(var i in articles){
                    var articlename = articles[i].articlename;
                    var articleid = articles[i].id;
                    var xuhao = parseInt(i)+1;
                    var yushu = parseInt(xuhao)%3;
                    var zhangxu = "第"+numberToChineseNumber(xuhao+"")+"章   ";
                    if(yushu==1){
                        $(".book-div").append('<tr class="articlename-tr"><td class="articlename-td"><a class="articlename-td-a" onclick="openArticleDetail(\''+bookid+'\',\''+articleid+'\');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+zhangxu+articlename+'</a></td></tr>');
                    }else{
                        $(".book-div tr:last").append('<td class="articlename-td"><a class="articlename-td-a" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+zhangxu+articlename+'</a></td>');

                    }

                }
            }
        },"json");

    }



    function pageInit(){
        var bookname = $("#bookname").val();
        var bookid = $("#bookid").val();
        //创建jqGrid组件
        $("#articleTable").jqGrid(
            {
                url : '/login/article/queryArticlePage',//组件创建完成之后请求数据的url
                postData : {bookid : bookid},
                datatype : "json",//请求数据返回的类型。可选json,xml,txt
                colNames : [ '序号', '章节名称', '创建时间'],//jqGrid的列显示名字
                colModel : [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
                    {name : 'id',index : 'id',width : 55},
                    {name : 'articlename',index : 'articlename',width : 90},
                    {name : 'createtime',index : 'createtime',width : 100}
                ],
                rowNum : 10,//一页显示多少条
                rowList : [ 10, 20, 30 ],//可供用户选择一页显示多少条
                pager : '#articleTablePage',//表格页脚的占位符(一般是div)的id
                sortname : 'id',//初始化的时候排序的字段
                sortorder : "desc",//排序方式,可选desc,asc
                mtype : "post",//向后台请求数据的ajax的类型。可选post,get
                viewrecords : true,
                caption : bookname//表格的标题名字
            });
        /*创建jqGrid的操作按钮容器*/
        /*可以控制界面上增删改查的按钮是否显示*/
        $("#articleTable").jqGrid('navGrid', '#articleTablePage', {edit : false,add : false,del : false});
    }


</script>



</html>