<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="width:100%;height: 100%">
<head>
    <meta charset="UTF-8"/>

    <!-- jqGrid组件基础样式包-必要 -->
    <link rel="stylesheet" href="/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <!-- jqGrid主题包-非必要 -->
    <!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
    <link rel="stylesheet" href="/css/ui-lightness/jquery-ui-1.8.16.custom.css" />
    <!--<link rel="stylesheet" href="/css/flick/jquery-ui-1.8.16.custom.css" />-->

    <!--<style>.ui-jqgrid tr.jqgrow{height:30px}</style>-->

    <title>觅语-书籍管理</title>
</head>
<body style="text-align:center;width:100%;height: 100%">
<div th:include="top :: html"></div>

<!--<div>-->
    <!--<input type="hidden" id="bookid" th:value="${bookid}"/>-->
    <!--<input type="hidden" id="bookname" th:value="${bookname}"/>-->
    <!--<input type="hidden" id="page" th:value="${page}"/>-->
<!--</div>-->
<!--<div>
    <table id="articleTable"></table>
    <div id="articleTablePage"></div>
</div>-->

<!--<div class="book-subject-chuangzuo-div">-->
    <!--<button  class="btn" style="width: 60px;height: 30px;margin-top: 77px;float: right;margin-right: 14px;"  onclick="toWork();">创作</button>-->
<!--</div>-->

<div class="book-manage">


       <div class="book-manage-div">
           <table id="bookTable"></table>
           <div id="bookPage"></div>
       </div>

</div>

</body>

<!-- jquery插件包-必要 -->
<!-- 这个是所有jquery插件的基础，首先第一个引入 -->
<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>

<!-- jqGrid插件包-必要 -->
<script type="text/javascript" src="/js/jquery.jqGrid.src.js"></script>

<!-- jqGrid插件的多语言包-非必要 -->
<!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->
<script type="text/javascript" src="/js/grid.locale-cn.js"></script>

<script>
    $(function(){
        //页面加载完成之后执行
         pageInit();
         var shuyeleftwidth = $("#shuyeID").offset().left - $(document).scrollLeft();
        $(".book-manage-div").css("left",(parseInt(shuyeleftwidth)-1000)+"px");
    });
    $(window).resize(function () {
        var shuyeleftwidth = $("#shuyeID").offset().left - $(document).scrollLeft();
        $(".book-manage-div").css("left",(parseInt(shuyeleftwidth)-1000)+"px");
    })

    function pageInit(){
        //创建jqGrid组件
        $("#bookTable").jqGrid(
            {
                url : '/login/bookManage/queryBookPage',//组件创建完成之后请求数据的url
                postData : {},
                rownumbers: true,
                styleUI: 'Bootstrap',
                datatype : "json",//请求数据返回的类型。可选json,xml,txt
                colNames : [  '章节名称','内容简介','章数','最新章节','作者','创建时间', '修改时间'],//jqGrid的列显示名字
                colModel : [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
//                    {name : 'id',index : 'id',width : 55,hide:true},
                    {name : 'bookname',index : 'bookname',width : 90},
                    {name : 'remark',index : 'remark',width : 230},
                    {name : 'articleCount',index : 'articleCount',width : 50},
                    {name : 'newArticleName',index : 'newArticleName',width : 50},
                    {name : 'authorname',index : 'authorname',width : 60},
                    {name : 'createtime',index : 'createtime',width : 100},
                    {name : 'updatetime',index : 'updatetime',width : 100}
                ],
                rowNum : 10,//一页显示多少条
                rowList : [ 10, 20, 30 ],//可供用户选择一页显示多少条
                pager : '#bookTable',//表格页脚的占位符(一般是div)的id
                sortname : 'id',//初始化的时候排序的字段
                sortorder : "desc",//排序方式,可选desc,asc
                mtype : "post",//向后台请求数据的ajax的类型。可选post,get
                autowidth: true,
                jsonReader: {
                    //   很重要 定义了 后台分页参数的名字。
                    root:"dataList",
                    total:"totalpages",          //   很重要 定义了 后台分页参数的名字。
                    records:"totalCount",
                    repeatitems : false
                },
                shrinkToFit: true,
                height: '260',
                viewrecords : true
//                caption : bookname//表格的标题名字

            });
        /*创建jqGrid的操作按钮容器*/
        /*可以控制界面上增删改查的按钮是否显示*/
        $("#bookTable").jqGrid('navGrid', '#bookPage', {edit : true,add : true,del : false});
    }


</script>



</html>