<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="width: 100%;height: 100%">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/megayu.css" />
    <title>觅语</title>
</head>
<body style="text-align:center;width: 100%;height: 100%;">
    <div th:include="top :: html"></div>
    <!--<div class="jianbian-div" ></div>-->
    <div class="success-body-div">
        <br/>
        <!--<div class="success-div2">-->
        <div class="success-div-div">
            <div>
                <img class="ck-img" src="/image/shu.jpg"/>

            </div>

            <div class="br-div"><span class="success-div-span">书 籍</span><br/></div>
            <table class="success-div-table" id="booktable">
                <tr class="success-table-top-tr">
                    <td><span class="gengduo-span">MORE</span></td>
                    <td><img src="/image/jiguang4.jpg"/></td>

                </tr>

            </table>

        </div>
        <div class="success-div-div">
            <div>

                <img  class="ck-img"  src="/image/wen.jpg"/>

            </div>

            <div class="br-div"><span class="success-div-span">文 章</span><br/></div>
            <table class="success-div-table" id="articletable">
                <tr class="success-table-top-tr">
                    <td><span class="gengduo-span">MORE</span></td>
                    <td><img src="/image/jiguang4.jpg"/></td>

                </tr>

            </table>
        </div>
        <div class="success-div-div">
            <div>
                <img  class="ck-img"  src="/image/bi.jpg"/>

            </div>

            <div class="br-div"><span class="success-div-span">觅 语</span><br/></div>
            <table class="success-div-table" id="miyutable">
                <tr class="success-table-top-tr">
                    <td><span class="gengduo-span">MORE</span></td>
                    <td><img src="/image/jiguang4.jpg"/></td>

                </tr>

            </table>
        </div>
        <!--</div>-->
    </div>


  <!--  <div class="login-modal-div hide-div" id="loginModal"  >
        <table class="login-modal-table" >
            <tr>
                <td>
                    <a class="login-modal-a">修改个人信息</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="login-modal-a">更多</a>
                </td>
            </tr>
        </table>

    </div>-->
</body>
<script  src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script  src="/js/megayu.js" th:src="@{/js/megayu.js}"></script>
<script>

    $(function () {
        queryBook();
    })

    function queryBook() {
        $.post("/login/article/queryBook",{},function (result) {
            if(result!=null){
                var books = eval(result)

                for(var i in books){
                    var bookname = books[i].bookname;
                    var bookid = books[i].id;

                    $("#booktable").append('<tr class="success-table-tr" ><td class="index-td">'+(parseInt(i)+1)+'</td><td><a class="table-a" onclick="openBook(\''+bookid+'\',\''+bookname+'\');">'+bookname+'</a></td></tr>');
                }

            }
        },"json")
    }


/*
    $(".login-modal-a").mouseout(function () {
        $("#loginModal").slideUp("slow");
    })
    function loginModalHide(){
        $("#loginModal").slideToggle();
    }
    function loginModalShow() {
        $("#loginModal").slideUp("slow");
    }*/


</script>
</html>