<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="width: 100%;height: 100%">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/image/haitang6.ico" />
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/megayu.css" />
    <title>觅语</title>
</head>
<body style="text-align:center;width: 100%;height: 100%;">
    <div th:include="top :: html"></div>
    <!--<div class="jianbian-div" ></div>-->

    <div class="miyu-add-div">
        <div class="right-div">
            <img class="right-nav" onclick="openBookSubject('0')" src="/image/shu1.png"/>
            <img class="right-nav" onclick="openWenSubject('0')" src="/image/wen1.png"/>
            <img class="right-nav" onclick="openMiyuSubject('0')" src="/image/bi1.png"/>
        </div>
        <br/>
        <span style="position: absolute;font-size: 20px;color: #0e90d2;margin-top: 14px;/* float: left; */margin-left: -357px;font-family: sans-serif;">发布一条属于你的觅语吧^_^</span>
        <br/>
        <textarea id="miyu" style="margin-top: 33px;width:700px;height: 150px;"></textarea>
        <button  class="btn btn-success" style="width: 63px;height: 34px;font-size: initial;margin-left: 650px;margin-top: -424px;" onclick="sendMiyu(this);">发布</button>
    </div>
    <div class="success-body-div">


    </div>
</body>
<script  src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script  src="/js/megayu.js" th:src="@{/js/megayu.js}"></script>
<script>
    var booktableheight = 0;
    var articletableheight = 0;
    var miyutableheight = 0;
    $(function () {

//        queryBook();
//        tableHeight();
        queryMiyu();
//        queryArticle();
    })

    function sendMiyu(obj) {
        var miyutext = $("#miyu").val();
        if(miyutext==null || miyutext=="" || miyutext==undefined){
            alert("还没有输入内容哦");
            return;
        }
        $.post("/login/miyu/sendMiyu",{miyutext:miyutext},function (result) {
            if(result=="success"){
                alert("发送成功");
                openMiyuSubject('0');
            }else {
                alert(result);
            }
        })
    }


//    function tableHeight() {
//        var divheight = compare(booktableheight,articletableheight,miyutableheight);
////        $(".success-body-div").attr("style","height:"+divheight+"px");
////        $(".success-body-div").css(" background",":rgba(255,251,240,0.8);");
//    }
    function queryMiyu() {
        $.post("/login/article/queryMiyu",{},function (result) {
            if(result!=null){
                var miyus =eval(result);
                var html = "";
                var miyusubjectheight = 100;
                var imgxh = 1;
                var flag = false;
                for(var i in miyus){
                    if(flag!=true){
                        flag = true;
                    }
                    miyusubjectheight += 200;
                    var miyucontent = miyus[i].articlecontent;
                    var authorname = miyus[i].authorname;
                    var time1 = miyus[i].time1;
                    var id = miyus[i].id;

                    html += '<div class="book-subject-div2"><div class="ook-subject-div1"><img class="jieqi-img" src="/image/24jieqi/'+imgxh+'.png"/></div><div class="ook-subject-div2"><br/><span class="book-subject-authorname-span"><span class="book-subject-zuozhe-span" style="font-weight:500;">'+authorname+'</span></span><span class="book-subject-time-span"><span class="book-subject-shijian-span" style="font-weight:500">'+time1+'</span></span><br/><br/><span class="miyu-content-span">'+miyucontent+'</span><br/></div></div>';




                    imgxh = imgxh+1;
                    if(imgxh>24){
                        imgxh = 1;
                    }
                }
//
//                var later = page;
//                var front = parseInt(page)-2;
//
//                if(flag){
//                    if(page==1){
//                        html += '<div class="book-subject-div-page"><span class="book-subject-page-span1"><a class="book-subject-page-a1" style="cursor: auto;color: #cccccc;">上一页</a></span><span class="book-subject-page-span2"><a class="book-subject-page-a2" onclick="openBookSubject('+later+')">下一页</a></span></div>';
//                    }else{
//                        html += '<div class="book-subject-div-page"><span class="book-subject-page-span1"><a class="book-subject-page-a1" onclick="openBookSubject('+front+')">上一页</a></span><span class="book-subject-page-span2"><a class="book-subject-page-a2" onclick="openBookSubject('+later+')">下一页</a></span></div>';
//                    }
//                }else{
//                    html += '<div class="book-subject-div-page"><span class="book-subject-page-span1">没数据了，<a class="book-subject-page-a1" onclick="openBookSubject('+front+')">上一页</a></span></div>';
//                }
                $(".success-body-div").append(html);
                $(".success-body-div").css("height",miyusubjectheight+"px");
            }else{
                var front = parseInt(page)-2;
                $(".success-body-div").append('<div class="book-subject-div-page"><span class="book-subject-page-span1">没数据了，<a class="book-subject-page-a1" onclick="openBookSubject('+front+')">上一页</a></span></div>');
            }
        },"json")
    }
    function queryArticle() {
        $.post("/login/article/queryArticle",{},function (result) {
            if(result!=null){
                var articls = eval(result)

                for(var i in articls){
//                    booktableheight= booktableheight + 70;

                    var articlname = articls[i].articlename;
                    var remark = articls[i].remark;
                    var time1 = articls[i].time1;
                    var articlecontent = articls[i].articlecontent;
                    var authorname = articls[i].authorname;
//                    remark = "&nbsp;&nbsp;&nbsp;"+ remark;
                    if(articlecontent.length>60){
                        articlecontent = articlecontent.substr(0,60);
                        articlecontent = articlecontent + "......";
                    }
                    var articlid = articls[i].id;

                    $("#articletable").append('<tr class="success-table-tr" ><td style="width: 240px;height: 70px;border-bottom: 1px solid #cccccc;text-align: left"><a class="table-a" onclick="openArticle(\''+articlid+'\',\''+articlname+'\');">'+articlname+'</a><br/><a class="table-a" style="color: #4297d7;font-size: xx-small"  onclick="openArticle(\''+articlid+'\',\''+articlname+'\');">&nbsp;&nbsp;&nbsp;'+articlecontent+'</a><br/><a class="table-a" style="color: #cccccc;font-size: xx-small"  onclick="openArticle(\''+articlid+'\',\''+articlname+'\');">&nbsp;'+authorname+'</a><span style="font-size: xx-small;color: #cccccc;float: right;margin-top: 1px;">'+time1+'</span></td></tr>');
                }

            }
        })
    }

</script>
</html>