<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/megayu.css" />
    <title>MEGEYU</title>
</head>
<body>
    <div th:include="top :: html"></div>

    <div class="success-body-div">

        <div class="success-div-div">
            <div>
                <img class="ck-img" src="/image/shu.jpg"/>

            </div>
            <span class="success-div-span">书籍</span>
            <div class="br-div"><br/></div>
            <table class="success-div-table" id="booktable">
                <tr class="success-table-tr">
                    <td><img src="/image/jiguang3.jpg"/><span class="gengduo-span">更多</span></td>
                </tr>

            </table>

        </div>
        <div class="success-div-div">
            <div>
                <img  class="ck-img"  src="/image/wen.jpg"/>

            </div>
            <span class="success-div-span">文章</span>
            <div class="br-div"><br/></div>
            <table class="success-div-table" id="articletable">
                <tr class="success-table-tr">
                    <td><img src="/image/jiguang3.jpg"/><span class="gengduo-span">更多</span></td>
                </tr>

            </table>
        </div>
        <div class="success-div-div">
            <div>
                <img  class="ck-img"  src="/image/bi.jpg"/>

            </div>
            <span class="success-div-span">觅语</span>
            <div class="br-div"><br/></div>
            <table class="success-div-table" id="miyutable">
                <tr class="success-table-tr">

                    <td><img src="/image/jiguang3.jpg"/><span class="gengduo-span">更多</span></td>
                </tr>

            </table>
        </div>





    </div>


  <!--  <div class="login-modal-div hide-div" id="loginModal"  >
        <table class="login-modal-table" >
            <tr>
                <td>
                    <a class="login-modal-a">修改个人信息</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="login-modal-a">更多</a>
                </td>
            </tr>
        </table>

    </div>-->
</body>
<script  src="/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script  src="/js/megayu.js" th:src="@{/js/megayu.js}"></script>
<script>

    $(function () {
        queryBook();
    })

    function queryBook() {
        $.post("/login/article/queryBook",{},function (result) {
            if(result!=null){
                var books = eval(result)

                for(var i in books){
                    var bookname = books[i].bookname;

                    $("#booktable").append('<tr class="success-table-tr" ><td>'+bookname+'</td></tr>');
                }

            }
        },"json")
    }

/*
    $(".login-modal-a").mouseout(function () {
        $("#loginModal").slideUp("slow");
    })
    function loginModalHide(){
        $("#loginModal").slideToggle();
    }
    function loginModalShow() {
        $("#loginModal").slideUp("slow");
    }*/


</script>
</html>