<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height:100%">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/image/haitang6.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/newindex.css" />

    <title>觅语</title>
</head>
<body style="text-align:center;height:100%">
<!--/*@thymesVar id="name" type="java.lang.String"*/-->


<div style="height: 43px;margin-top: 9px;width: 980px;margin: 0 auto">
    <span style="float: left;margin-top: 4%;"><span style="font-size: xx-large;color: #942a25">觅语</span><span style="font-family: cursive;font-size: smaller;">&nbsp;&nbsp;天青青兮欲雨，水澹澹兮生烟</span></span>
    <!--<span style="float: left;margin-left: 15%;margin-top: 1.5%;"><span style="font-size: xx-large;color: #942a25">Megayu</span><span>&nbsp;觅语</span></span>-->
    <!--<span style="float: left;margin-left: 15%;margin-top: 1.5%;" th:text="|Hello! Welcome to MEGAYU |" ><img src="image/shuye1.jpg"/></span>-->
    <!--<div style="float: right;width: 28px;margin-right: 5px;margin-top: 2px;" onclick="registerModal();" >-->
        <!--<button  class="btn btn-info" style="width: 60px;height: 25px;font-size: smaller;" >登录</button>-->
        <!--&lt;!&ndash;<img style="width: 26px;margin-right: 1px;" id="xing" src="image/xing.jpg"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<label style="float: right;">注册</label>&ndash;&gt;-->
    <!--</div>-->
    <div style="float: right;margin-top: 7.5%;" onclick="registerModal();">
        <button  class="btn btn-info" style="width: 50px;height: 25px;font-size: xx-small" >注册</button>
        <!--<img style="width: 32px;margin-right: 1px;" id="time"  src="image/time.jpg"/>-->
        <!--<label style="float: right;">登录</label>-->
    </div>

</div>



<div class="center-div">

<div style="margin:0 auto;width: 980px">

    <div class="center-div-login-div">
        <span class="center-div-login-span" >&nbsp;登录</span>
        <div class="form-group" style="margin-top: 74px">
            <img src="/image/yonghuming.png" class="center-div-login-img"/>
            <input class="form-control"  style="width: 252px;height: 30px;" placeholder="请输入用户名" type="text" id="loginNameDiv" name="loginName" value=""/>
        </div>
        <br/>
        <div class="form-group">
            <img src="/image/mima.png" class="center-div-login-img"/>
            <input class="form-control" style="width: 252px;height: 30px;" placeholder="请输入密码" type="password" id="passwordDiv" name="password" value=""/>
        </div>
        <br/>
        <button  class="btn" style="width: 314px;height: 40px"  onclick="toLogin();">登录</button>
        <p></p>
        <span id="returnMsg" style="float: left;color: #607080;margin-top: 14px;font-size: 14px;margin-left: 26px;"></span>
    </div>

    <div class="left-img-div">

        <img src="/image/yanyu10.jpg"/>

    </div>

</div>

</div>

<div class="footer-div"><a class="footer-div-a">为我爱的人@MEGAYU</a></div>
<!--<div id="modalclose"><iframe frameborder="0"  scrolling="no" src="welcome" th:href="@{welcome}" width="100%" height="500px"></iframe></div>-->

<div id="modal" class="modal" style="display: none;width: 251px;margin-top: 174px;margin-left: -130px;" onblur="modalClose();">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control"  placeholder="请输入用户名" type="text" id="loginName" name="loginName" value=""/>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="请输入密码" type="password" id="password" name="password" value=""/>
                </div>


                <button  class="btn btn-success" style="width: 110px;"  onclick="toLogin();">登录</button>
                <button class="btn btn-danger" style="width: 110px;float: right;"   onclick="closeModal();">取消</button>
            </div>

        </div>
    </div>

</div>

<div id="registerModal" class="modal" style="display: none;width: 251px;margin-top: 174px;margin-left: -130px;" onblur="modalClose();">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control"  placeholder="请输入用户名" type="text" id="registerName" name="registerName" value=""/>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="请输入密码" type="password" id="registerPassword" name="registerPassword" value=""/>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="请确认密码" type="password" id="registerSurePassword" name="registerSurePassword" value=""/>
                </div>

                <button  class="btn btn-success" style="width: 110px;"  onclick="toRegister();">注册</button>
                <button class="btn btn-danger" style="width: 110px;float: right;"   onclick="closeRegisterModal();">取消</button>
            </div>

        </div>
    </div>

</div>

</body>
<script  src="js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
<script src="js/bootstrap.min.js"></script>
<script>

    $(function(){
        document.onkeydown = function(e){
            var ev = document.all ? window.event : e;
            if(ev.keyCode==13) {
                //处理登录事件
                toLogin();

            }
        }
    });

    function loginModal() {
//        $("#login").removeClass("fade");
        $("#modal").slideToggle();
    }
    function  registerModal() {
        $("#registerName").val("");
        $("#registerPassword").val("");
        $("#registerSurePassword").val("");
        $("#registerModal").slideToggle();
    }
    function closeModal(){
        $("#modal").slideUp('slow');
        $("#loginName").val("");
        $("#password").val("");
    }
    function closeRegisterModal() {
        $("#registerModal").slideUp('slow');
        $("#registerName").val("");
        $("#registerPassword").val("");
        $("#registerSurePassword").val("");
    }
    function toRegister() {
        var registerName = $("#registerName").val();
        var registerPassword = $("#registerPassword").val();
        var registerSurePassword = $("#registerSurePassword").val();
        if(registerName==null || registerName=="" || registerPassword==null || registerPassword=="" || registerSurePassword==null || registerSurePassword==""){
            alert("请完善注册信息");
            return;
        }
        $.post("/login/toRegister",{registerName:registerName,registerPassword:registerPassword,registerSurePassword:registerSurePassword},function(result){
            if(result=="success"){
                alert("注册成功请登录");
                $("#registerModal").slideUp('slow');
            }else{
                alert("注册信息有误");
            }
        });
    }
    function toLogin() {
        var loginName = $("#loginNameDiv").val();
        var password = $("#passwordDiv").val();
        if(loginName==null || loginName=="" || password==null || password==""){
//            alert("请输入用户名和密码");
            $("#returnMsg").text("请输入用户名和密码");
            return;
        }
        $.post("login/toLogin",{loginName:loginName,password:password},function(result){
            if(result=="success"){
                self.location.href="login/loginSuccess";
            }else{
                $("#returnMsg").text(result);
//                alert("登录失败");
            }
        });
    }

</script>
</html>